/* GENERAL */
:root {
    --arancione: #ff540c;
    --marroncino: #968868;
    --button: #7ec3bb;
    --grigio: #b0b0b0;
  }

 body {
    @font-face {
        font-family: myfont;
        src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
      }
 }

/* @media  480 */

/* Header */





/* Main */

/* Footer */