/* GENERAL */
:root {
    --arancione: #ff540c;
    --marroncino: #968868;
    --button: #7ec3bb;
    --grigio: #b0b0b0;
    --grigio-slider: #dadada;
    --grigio-chiaro: #f6f6f6;
    --bianco: #fff;
  }

 *{box-sizing: border-box;}

@font-face {
    font-family: mioFont;
    src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}

body{
    font-family: mioFont;
}

span {
    color: var(--arancione);
    font-size: 1.3em;
    font-weight: bold;
}

h2 {
    font-size: 1.4em;
}

hr{
  
}

/* @media  480 */

/* Header */

/* Main */

/* Slider */
.home {
  padding: 2rem 0;
}

.home div:first-child {
  display: flex ;
  justify-content: space-between;
}

.home button {
  background-color: none;
  border: none;
  color: var(--marroncino);
  font-size: 2rem;
}

#slider {
  padding: 1rem 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
}

#slider img {
  width: 50%;
  border-radius: 5px;
  padding-bottom: 2rem;
}

#dots {
  display: flex;
  justify-content: center;
}

.dot {
  background-color: var(--grigio-slider);  
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin: 0 0.2rem;
}

.dot:focus {
  background-color: var(--arancione);
}

/* #dots button:first-child{
  background-color: var(--arancione);
}

#dots button:first-child {
  background-color: var(--grigio-chiaro);
} */

/* About us */
.aboutUs {
  background-color: var(--grigio-chiaro);
  text-align: center;
  padding: 4rem 0;
}
 .aboutUs hr {
   width: 20%;
 }



/* Blog */

.blog {
    background-image: url(../images/blog/blog-bg.jpg);
    width: 100%;
    padding-top: 7rem;
    text-align: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.blog .container {
    margin: 0 auto;
    width: 95%;
}

.blog .container h2 {
    color: white;
    padding-bottom: 3rem;
    position: relative;
}

.blog .container h2::before {
    content: "";
    position: absolute;
    left: 30%;
    bottom: 0;
    width: 40%;
    height: 1px;
    background: #C8C1B3;
}

.blog h4 {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 2.2em 1.2em;
    position: relative;
}

.blog h4::before {
    content: "";
    position: absolute;
    left: 40%;
    bottom: 0;
    width: 25%;
    height: 1px;
    background: #CBC4B5;
}

.blog p {
    font-size: 0.9em;
    color: #959595;
    padding-top: 1.8em;
}

.blog .cards {
    background-color: white;
    width: 100%;
    margin-top: 3rem;
}

.blog img {
    width: 100%;
}

figure {
    overflow: hidden;
}

.blog img:hover {
    transform: scale(1.2) rotate(10deg);
}

.didascalie {
    padding: 1em 2em;
}

.blog .button {
    text-align: start;
}

.blog button {
    margin: 4em;
    margin-left: 0;
    padding: 2em 5em;
    border: none;
    color: white;
    background-color: var(--arancione);
}

/* ====== News CSS ====== */
.news {
  text-align: center;
  background: url("../images/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.news h1{
  color: var(--bianco);
  font-size: 36px;
}

.news span{
  font-size: 45px;
  color: #ff530a;
  font-weight: 600;
}

.news p{
  padding: 25px;
  color: var(--bianco);
}

.news input{
  width: 450px;
  background: var(--bianco);
  opacity: 0.9;
  border: none;
  height: 60px;
}


.news button{
  width: 200px;
  height: 60px;
  border: none;
  background: var(--button);
  color: var(--bianco);
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* Footer */